body{
	background-color: rgb(11, 11, 11);
}

@media screen and (max-width: 799px){
	#minimize_icon{
		display: none;
	}

	.main_left_navigation{
		width: calc(4%);
	}

	.menu_text{
		display: none;
	}

	#content{
		left: calc(4%);
	}
}
@media screen and (min-width: 800px) and (max-width: 1024px){
	#minimize_icon{
		display: '';
	}

	.main_left_navigation{
		width: calc(5%);
	}

	.menu_text{
		display: '';
		font-size: xx-small;
	}

	li{
		display: block;
	}

	#content{
		left: calc(5%);
	}
}
@media screen and (mix-width: 1025px){
	.main_left_navigation{
		width: calc(10%);
	}

	.menu_text{
		display: '';
		font-size: larger;
	}

	#content{
		left: calc(10%);
	}
}


.main_left_navigation{
	position: fixed;
	background: linear-gradient(to bottom, rgb(11, 11, 11) 0%, rgb(35, 35, 35) 100%);
	height: calc(100%);
	width: calc(10%);
}

#minimize_icon{
	cursor: pointer;
	padding-left: 5px;
}

.navigation_item{
	text-decoration:none; 
	color: white;
}

.menu_text{
	color: white;
}

.img{
	display:inline;
}

#content{
	position: absolute;
	height: calc(100%);
	width: calc(90%);
	left: calc(10%);
	background: linear-gradient(to bottom, rgb(35, 35, 35) 0%, rgb(11, 11, 11) 100%);
}

#map{ 
	position: relative;
	height: calc(100%);
	width: calc(100%);
}

li{
	text-align: center;
	padding-top: 20px;
	font-weight: 500;
	font-size: 16px;
}

li.top{
	padding-top: 30px;
}


li.bottom{
	position: absolute; 
	bottom: calc(2%); 
	left: calc(1%); 
	padding-top: none;
}

.buttom_e{
	background: #66cc33;
	cursor: pointer;
	font: 99% sans-serif;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	border: 1px solid #ddd;
	border-radius: 3px;
	display: inline-block;
	padding: .1em;
	margin: 0.5em 0 0;
	text-decoration: none;
	font-size: larger;
	color: black;
}

.buttom_rm{
	background:#54c0ff ;
	cursor: pointer;
	font: 99% sans-serif;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	border: 1px solid #ddd;
	border-radius: 3px;
	display: inline-block;
	padding: .1em;
	margin: 0.5em 0 0;
	text-decoration: none;
	font-size: larger;
	color: black;
}

a.buttom_about_sport{
	text-decoration: none;
	color: rgb(0, 0, 0);
	cursor: pointer;
	font: 99% sans-serif;
	font-size: 18px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	display: inline-block;
	padding: 3px 3px 3px 3px;
}

#contentForGames{
	display: flex;
	position: relative;
	width: calc(100%);
	height: calc(100%);
}

#contentForGames_offer{
	display: flex;
	position: relative;
	width: calc(100%);
	height: calc(100%);
	padding-left: calc(2%);
	padding-top: calc(10%);
}

.games_text_offer{
	padding-left: calc(33%);
	font-size: 20px;
}

a.game_content{
	position: relative;
	width: calc(50%);
	height: calc(100%);
	border: 5px solid black;
	text-decoration: none;
	cursor: pointer;
}

h1.games_text{
	padding-left: calc(30%);
	color: black;
	font-size: 100px;
}

.games_img{
	padding-left: calc(5%);
}

.contentSlot{
	background-color: rgb(40, 40, 40);
	padding-left: calc(15%);
}

#bs_content{
	color: aliceblue;
}

a{
	text-decoration: none;
	color: azure;
}

dd{
	padding-top: 3px;
}

dt{
	padding-top: 5svh;
	font-size: 35px;
	padding-bottom: 1svh;
}

.bs_alpha{
	font-size: 40px;
}

.bs_head{
	padding-top: 1svh;
	padding-bottom: 2svh;
	font-size: 30px;
}

.bs_head_small{
	padding-top: 3svh;
	font-size: 40px;
}

.custom_text{
	text-decoration: none;
	color: azure;
	padding-top: 20px;
	font-weight: 500;
	font-size: 16px;
	padding-bottom: 5px;
}

#custom{
	z-index: 9999;
	position: fixed;
	cursor: pointer;
	bottom: calc(2%);
	left: calc(11%);
	background-color: rgba(29,29,29, 0.5);
	border: 3px solid snow; 
	border-radius: 25px; 
	text-align: center;
	padding: 10px;
}

#custom:hover{
	background-color: rgba(80,80,80, 0.5);
}

#custom:active{
	background-color: rgba(180,180,180, 0.5);
}

#customContainer{
	display: none;
	z-index: 9999;
	position: fixed;
	bottom: calc(25%);
	left: calc(11%);
	color: whitesmoke;
	background-color: rgba(29,29,29, 0.85);
	padding: 10px;
	border: 2px solid whitesmoke;
	border-radius: 15px;
}

#customContainer input{
	margin-bottom: 5px;
}

.telegram-button{
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 33px;
    box-sizing: border-box;
    
    cursor: pointer;
    background-color: #0088cc;
    border-radius: 20px;
    padding: 3px 6px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #FFF;
    text-decoration: none;
}

.telegram-button:hover{
    background-color: #007dbb;
}

.telegram-button:active{
    background-color: #026698;
}

.whatsapp-button{
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 33px;
    box-sizing: border-box;
    
    cursor: pointer;
    background-color: #00cc33;
    border-radius: 20px;
    padding: 3px 6px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #FFF;
    text-decoration: none;
}

.whatsapp-button:hover{
    background-color: #15973e;
}

.whatsapp-button:active{
    background-color: #0c783f;
}

.buttom_e:hover{
	background-color: #7ceeb1;
}

.buttom_rm:hover{
	background-color: #817fea;
}

#group{
	padding-left: calc(4%);
	color: azure;
}

.sport_name{
	padding-top: calc(2%);
	padding-bottom: calc(2%);
	font-size: 35px;
}

.group_name{
	font-size: 25px;
}

.tranier_name{
	font-size: 30px;
	padding-top: calc(2%);
}

.group_info{
	padding-top: calc(1%);
	font-size: 20px;
}

.adress_info{
	font-size: 20px;
}

.game_content_offer{
	width: calc(30%);
}

.games_img_offer{
	width: calc(80%);
}

h2 {
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	display:inline-block;
	color: #2b2929;
  }
.wrapper {
	display: flex;
	align-items: center;
	flex-direction: column; 
	justify-content: center;
	width: 100%;
	min-height: 100%;
	padding: 20px;
  }
  
  #formContent {
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	background: #fff;
	padding: 30px;
	width: 90%;
	max-width: 450px;
	position: relative;
	padding: 0px;
	-webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
	box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
	text-align: center;
  }
  
  #formFooter {
	background-color: #f6f6f6;
	border-top: 1px solid #dce8f1;
	padding: 25px;
	text-align: center;
	-webkit-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
  }
  
  
  
  /* TABS */
  
  h2.inactive {
	color: #cccccc;
  }
  
  h2.active {
	color: #0d0d0d;
	border-bottom: 2px solid #5fbae9;
  }
  
  /* ANIMATIONS */
  
  /* Simple CSS3 Fade-in-down Animation */
  .fadeInDown {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
  }
  
  @-webkit-keyframes fadeInDown {
	0% {
	  opacity: 0;
	  -webkit-transform: translate3d(0, -100%, 0);
	  transform: translate3d(0, -100%, 0);
	}
	100% {
	  opacity: 1;
	  -webkit-transform: none;
	  transform: none;
	}
  }
  
  @keyframes fadeInDown {
	0% {
	  opacity: 0;
	  -webkit-transform: translate3d(0, -100%, 0);
	  transform: translate3d(0, -100%, 0);
	}
	100% {
	  opacity: 1;
	  -webkit-transform: none;
	  transform: none;
	}
  }
  
  /* Simple CSS3 Fade-in Animation */
  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  
  .fadeIn {
	opacity:0;
	-webkit-animation:fadeIn ease-in 1;
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;
  
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
  
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
  }
  
  .fadeIn.first {
	-webkit-animation-delay: 0.4s;
	-moz-animation-delay: 0.4s;
	animation-delay: 0.4s;
  }
  
  .fadeIn {
	padding: 10px;
	margin: 10px;
	-webkit-animation-delay: 0.6s;
	-moz-animation-delay: 0.6s;
	animation-delay: 0.6s;
  }
  
  
  
  .fadeIn.fourth {
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
  }
  
  /* Simple CSS3 Fade-in Animation */
  .underlineHover:after {
	display: block;
	left: 0;
	bottom: -10px;
	width: 0;
	height: 2px;
	background-color: #56baed;
	content: "";
	transition: width 0.2s;
  }
  
  .underlineHover:hover {
	color: #0d0d0d;
  }
  
  .underlineHover:hover:after{
	width: 100%;
  }
  